layout {

    focus-ring {
        active-color   "#bcd063"
        inactive-color "#13140f"
        urgent-color   "#ffb4ab"
    }

    border {
        active-color   "#bcd063"
        inactive-color "#13140f"
        urgent-color   "#ffb4ab"
    }

    shadow {
        color "#00000070"
    }

    tab-indicator {
        active-color   "#bcd063"
        inactive-color "#404c00"
        urgent-color   "#ffb4ab"
    }

    insert-hint {
        color "#bcd06380"
    }
}

recent-windows {
    highlight {
        active-color "#bcd063"
        urgent-color "#ffb4ab"
    }
}
