layout {

    focus-ring {
        active-color   "#79d1ff"
        inactive-color "#111416"
        urgent-color   "#ffb4ab"
    }

    border {
        active-color   "#79d1ff"
        inactive-color "#111416"
        urgent-color   "#ffb4ab"
    }

    shadow {
        color "#00000070"
    }

    tab-indicator {
        active-color   "#79d1ff"
        inactive-color "#004c68"
        urgent-color   "#ffb4ab"
    }

    insert-hint {
        color "#79d1ff80"
    }
}

recent-windows {
    highlight {
        active-color "#79d1ff"
        urgent-color "#ffb4ab"
    }
}
