* {
	font-family: "MonaspiceNe Nerd Font", monospace;
	font-size: 17.5px;
	font-weight: bold;
}

window#waybar>box {
	padding: 5px;
}

window#waybar {
	background: rgba(0, 0, 0, 0);
	color: #c5c9c5;
}

.modules-left,
.modules-center,
.modules-right {
	margin: 0 30px;
	padding: 5px 10px;
	border-radius: 5px;
	background: #181616;
}

#workspaces button {
	padding: 0px;
	border-radius: 0px;
	color: #c5c9c5;
}

#workspaces button.active {
	color: #c4746e;
}