* {
	font-family: "MonaspiceNe Nerd Font", monospace;
	font-size: 17.5px;
	font-weight: bold;
}

window#waybar>box {
	padding: 5px;
}

window#waybar {
	/* background: rgba(0, 0, 0, 0); */
	background: #161822;
	color: #c7c9d1;
}

.modules-left,
.modules-center,
.modules-right {
	margin: 0 30px;
}

.modules-right>widget>* {
	margin: 0 7.5px;
}

#workspaces button {
	padding: 0px;
	border-radius: 0px;
	color: #c7c9d1;
}

#workspaces button.active {
	color: #85a0c7;
}